<div class="container">

    <h1>Editor</h1>

    <p>In the EditorIn the Editor now</p>

    <div id="item_area" class="item">
    &nbsp;
    &nbsp;
    </div>

    <div class="editor">
      <canvas id="canvas" class="editor_canvas"></canvas>
    </div>
  
</div>

<br style="clear: both" />
