<div class="container">
    <div id="item_area" class="item">
    </div>

    <div class="editor">
      <canvas id="canvas" class="editor_canvas"></canvas>
    </div>
  
</div>

<br style="clear: both" />
