<div class="container">
    <div id="item_area">
    </div>

    <div class="editor">
        <div id="canvas-container">
            <canvas id="canvas" class="editor_canvas"></canvas>
        </div>
    </div>
</div>
