<div class="container">


 <h1>Digo: Create your own story!</h1>
  Wohooo, lets start this!
  Shamma edited

  <h1> yeha! </h1>

  
</div>

<div class="editor">
    <canvas id="canvas" class="canvas"></canvas>
</div>